body {
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

main {
  margin: 0 1em;
}

h1 {
  text-align: center;
}

label {
  margin-right: 0.5em;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
  padding: 5px;
}
